:root {
  --primary: #1f3a5d;
}

main {
  margin: 0 auto;
  max-width: 90%;

  padding: 50px 30px;
}

body {
  margin: 0;

  background-color: white;
}

header {
  background-color: var(--primary);
  color: white;
}

header h1 {
  font-size: 36pt;
  font-weight: bold;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.nav-item a {
  /* margin-bottom: 0%; */
  display: block;
  color: white;
}

.nav-link.active.item {
  border-bottom: 2px solid white;
  /* border-color: white !important; */
  /* font-size: 28px !important; */
}

.item {
  color: white !important;
  font-size: 20px !important;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.about {
  margin: 5%;
}

.portfolio_photo {
  width: 50% !important;
  height: 50% !important;
}

.deployed {
  padding-bottom: 20%;
}

.card_deployed_link {
  color: black !important;
  font-size: 24px;
  text-decoration: none;
  font-weight: bold;
}

.contact {
  margin: 2%;
}

.contact h1 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

footer {
  background-color: var(--primary);
  text-align: center;
}

.footerLogo {
  width: 32px;
  height: 32px;
  margin: 1% 1%;
}
